header{
    text-align: center;
    padding: 20px;
    background-color: var(--bs-secondary-bg);
}
footer{
    text-align: center;
    padding: 10px;
    font-size: 70%;
    letter-spacing: 3px;
    border-top: 1px dotted var(--bs-secondary);
}
main{
    padding: 20px;
}
strong{
    font-size: 18px;
}
h1{
    color: var(--bs-primary);
}
h2{
    color: var(--bs-secondary);
}
p{
    text-align: justify;
    line-height: 200%;
}
.logo{
    font-size: 400%;
}
.themeSwitch{
    position: fixed;
    top: 20px;
    right: 20px;
}
.hide{
    display: none;
}