<h3>Home</h3>
<hr>
<div class="row">
    <div class="col-lg-4 text-center">
        <h1><i class="bi bi-cloud-sun-fill logo"></i></h1>
        <h2>Welcome to</h2>
        <h1>Weather Forecast App</h1>
    </div>
    <div class="col-lg-8">
        <h1>Know Before You Go</h1>

        <p>
            Get accurate, up-to-date weather information for your city, so you always know what to expect.
        </p>
        <p>
            Whether you're planning your commute, a weekend trip, or just deciding what to wear, 
            our forecasts help you prepare for sun, rain, wind, or snow.
        </p>

        <h2>
            Check. Plan. Enjoy.
        </h2>

        <p>
            Search any location, view current conditions and the days ahead, and save your favorite cities.
        </p>
        <p>
            Your perfect day starts with the right forecast.
        </p>
        <button class="btn btn-primary" onclick="navigate('users/register')">Get Started</button>

    </div>
</div>