<div class="col-lg-6 offset-lg-3">

    <h3>Login</h3>
    <hr>
    <div class="form-floating mb-3">
    <input type="email" class="form-control" id="email" placeholder="">
    <label for="email">E-mail address</label>
    </div>
    <div class="form-floating mb-3">
    <input type="password" class="form-control" id="passwd" placeholder="">
    <label for="passswd">Password</label>
    </div>

    <button type="button" class="btn btn-primary" onclick="login()"><i class="bi bi-box-arrow-in-right"></i>&nbsp;&nbsp;login</button>

    <p>No acccount yet? <strong><a href="#" onclick="navigate('users/register')">Sign up!</a></strong></p>
</div>